body{
	font-family: Arial,sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	
}
.error{
	"color:red;"
}

.btn-space {
    margin-right: 30px;
}
textarea{
rows : 5;
cols :50; 	
}
.center{
	    text-align: center;
}


.nin{
   margin-bottom: 5px;
}

#textbox{
	margin-right: 50px;
}
.tablll{
	height: 400px;
	background: #cccccca9;
	margin: 30px 200px 10px 200px;
}
.tablll h1{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	background: #07956E;
}
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border:none;
    margin-top:30px;
    margin-left:310px;
    width: 50%;
}

#customers td, #customers th {
    border-color: #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #07956E;
    color: white;
}



